header
  div.nav-box--mobile
    div.nav-box__nav-links.nav-box__nav-link--mail
      a.email-link(href=`mailto:${infoAddress}`): i
    div.nav-box__logo
      a(href='/')
        img(src=logo.white.src alt=logo.white.alt)
    div.nav-box__nav-links.nav-box__nav-link--menu
      button.btn-small menu

  div.nav-box--desktop
    div.nav-box__logo
      a(href='/')
        img(src=logo.white.src alt=logo.white.alt)
    div.nav-box__nav-menu
      nav.nav-menu__login-nav
        a.login-nav__nav-item(href="/booking#/login") Log In
        a.login-nav__nav-item(href=`mailto:${infoAddress}`) #{infoAddress} 
      nav.nav-menu__main-nav(role="navigation")
        a.main-nav__nav-item(href="/booking"): h4 Booking
        a.main-nav__nav-item(href="/services"): h4 Services
        a.main-nav__nav-item(href="/litigation"): h4 MRI For Litigation
        a.main-nav__nav-item(href="/faq"): h4 FAQ
        a.main-nav__nav-item(href="/contact"): h4 Contact

  block header-content
